.main-headder {
    color: blue;
    text-align: center;
    position: relative;
}
.headder-title {
    position: relative;
}
.background {
    background-image: url("../indexbackground.jpg");
    background-color: grey;
    background-size: cover;
}
.nav {
    background-color: white;
    background-position: center;
    height: 100px;
}

.display-item:hover {
    /*border: 1px solid #d0d0d0 !important;*/
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}

.background-coloring {
    background-color: rgba(75, 75, 75, 0.7);
    margin-left: 15%;
    margin-right: 15%;
}